body{
	background-color: #E15066;
	text-align: center;
	font-family: helvetica;
	color: #fff;
	}
h1{
	color: #FFEACB;
	text-decoration: underline;
	text-transform: uppercase;

}
p{
	font-size: 22px;
}
hr{
	width: 200px;
}
ul{
	text-align: center;
	list-style-type: none;
}
li
img
#slogan{
	font-family: sans-serif;
	font-style: italic;
	font-size: 24px
}
#email{
	color: white;
}